@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

// break points

//$phone1: 20em; 320px
//$phone2: 22.5em; 360px
//$phone3: 25.625em; 410px
$grid-phone1: (
        media: 20em, //320px
        gutter: 20px,
);

$grid-phone1-gutterless: (
        media: 20em, //320px
        gutter: 0,
);

//$tablet1: 47.9375em; 768px
//$tablet2: 64em; 1024px
$grid-tablet1: (
        media: 47.9375em, //768px
        gutter: 20px,
);

$grid-tablet1-landscape: (
        media: "screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape)",
        gutter: 20px,
);


//$desktop2: 75em; 1200px
//$desktop3: 85.375em; 1366px
//$desktop4: 103.125em; 1600px
$grid-desktop1: (
        media: 75em, //1200px
        gutter: 0px,
);

// Typography
$base-font-family: 'Roboto', serif;
$heading-font-family: 'Roboto', sans-serif;
$base-font-size: 1em;
$base-letter-spacing: 0;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;


// Other Sizes
$base-border-radius: 3px;
$base-spacing: 1.5em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #1565c0;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$bg1: #FAF9F4;
$bg2: #FAFAFA;

// Font Colors
$base-font-color: $dark-gray;
$action-color: transparentize($dark-gray, 0.5);

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Focus
$focus-outline-color: white;
$focus-outline-width: 3px;
$focus-outline: transparentize(white, 0);
$focus-outline-offset: 1px;

// Animations
$base-duration: 150ms;
$base-timing: ease;
